@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scrollbar-width: thin;
        scrollbar-color: #6366f1 transparent;
        overflow-y: overlay;
    }

    html::-webkit-scrollbar {
        @apply w-3;
    }

    html::-webkit-scrollbar-thumb {
        @apply rounded-full border-[3px] border-solid border-transparent bg-secondary-light bg-clip-content;
    }

    html::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    svg {
        @apply fill-primary transition-colors duration-300 group-hover:fill-secondary;
    }
}
